.App {
  text-align: center;
}

.searchInput {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.countriesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.countryContainer {
  flex: 1 1 calc(14.28% - 20px); 
  box-sizing: border-box;
  max-width: calc(14.28% - 20px);
}